<!DOCTYPE html>
<html>
<head>
    <title>Confirmação de E-mail</title>
</head>
<body>
    <p>Olá {{name}},</p>
    
    <p>Você está recebendo este e-mail porque uma conta foi criada com o seu endereço de e-mail em nosso sistema. Para confirmar a sua conta, clique no link abaixo:</p>
    
    <p><a href="{{message}}">Confirmar E-mail</a></p>
    
    <p>Se você não criou esta conta, pode ignorar este e-mail. O link de confirmação expira em 24 horas.</p>
    
    <p>Obrigado!</p>
</body>
</html>

